In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import model_selection, preprocessing, neighbors

In [11]:
data = pd.read_csv('../../Downloads/breast-cancer-wisconsin.data.txt', header= None)
data.head()

        0   1   2   3   4   5   6   7   8   9   10
0  1000025   5   1   1   1   2   1   3   1   1   2
1  1002945   5   4   4   5   7  10   3   2   1   2
2  1015425   3   1   1   1   2   2   3   1   1   2
3  1016277   6   8   8   1   3   4   3   7   1   2
4  1017023   4   1   1   3   2   1   3   1   1   2

In [12]:
data.describe()

,0,1,2,3,4,5,7,8,9,10
count,6.990000e+02,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000
mean,1.071704e+06,4.417740,3.134478,3.207439,2.806867,3.216023,3.437768,2.866953,1.589413,2.689557
std,6.170957e+05,2.815741,3.051459,2.971913,2.855379,2.214300,2.438364,3.053634,1.715078,0.951273
min,6.163400e+04,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000
25%,8.706885e+05,2.000000,1.000000,1.000000,1.000000,2.000000,2.000000,1.000000,1.000000,2.000000
50%,1.171710e+06,4.000000,1.000000,1.000000,1.000000,2.000000,3.000000,1.000000,1.000000,2.000000
75%,1.238298e+06,6.000000,5.000000,5.000000,4.000000,4.000000,5.000000,4.000000,1.000000,4.000000
max,1.345435e+07,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,4.000000

In [15]:
column_names = ['id','v1','v2','v3' ,'v4','v5','v6','v7','v8','v9','clase']

In [16]:
data.columns = column_names

In [17]:
data.head()

        id  v1  v2  v3  v4  v5  v6  v7  v8  v9  clase
0  1000025   5   1   1   1   2   1   3   1   1      2
1  1002945   5   4   4   5   7  10   3   2   1      2
2  1015425   3   1   1   1   2   2   3   1   1      2
3  1016277   6   8   8   1   3   4   3   7   1      2
4  1017023   4   1   1   3   2   1   3   1   1      2

In [18]:
data.replace('?', -99999999, inplace=True)

In [24]:
X = data[['id','v1','v2','v3' ,'v4','v5','v6','v7','v8','v9']]
Y = data[['clase']]

In [26]:
X.head()

        id  v1  v2  v3  v4  v5  v6  v7  v8  v9
0  1000025   5   1   1   1   2   1   3   1   1
1  1002945   5   4   4   5   7  10   3   2   1
2  1015425   3   1   1   1   2   2   3   1   1
3  1016277   6   8   8   1   3   4   3   7   1
4  1017023   4   1   1   3   2   1   3   1   1

In [27]:
Y.head()

   clase
0      2
1      2
2      2
3      2
4      2

In [34]:
X_train, X_test, Y_train, Y_test = model_selection.train_test_split(X,Y, test_size=0.2)

In [35]:
clf = neighbors.KNeighborsClassifier()
clf.fit(X_train,Y_train)

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [36]:
accuracy = clf.score(X_test, Y_test)
accuracy

0.6285714285714286

In [51]:
X2 = data[['v1','v2','v3' ,'v4','v5','v6','v7','v8','v9']]
Y2 = data[['clase']]

X_train2, X_test2, Y_train2, Y_test2 = model_selection.train_test_split(X2,Y2, test_size=0.2)

In [52]:
clf2 = neighbors.KNeighborsClassifier()
clf2.fit(X_train2,Y_train2)

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [53]:
accuracy2 = clf.score(X_test, Y_test)
accuracy2

0.9857142857142858

In [61]:
medidas = np.array([4,2,1,1,1,2,5,2,1]).reshape(-1,1)

main = {
    'v1': [4, 7],
    'v2': [2,7],
    'v3': [1,3],
    'v4': [1,1],
    'v5': [1,8],
    'v6': [2,7],
    'v7': [5,2],
    'v8': [2,3],
    'v9': [1,1],
}

medidas = pd.DataFrame(main)

In [64]:
clf2.predict(medidas)

array([2, 4])

In [65]:
clf2.predict(X_test2)

array([2, 2, 4, 4, 4, 2, 4, 4, 2, 4, 2, 2, 2, 2, 4, 4, 2, 4, 2, 4, 2, 4,
       2, 2, 4, 2, 2, 2, 2, 4, 2, 2, 4, 2, 2, 4, 4, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 4, 4, 2, 4, 2, 2, 2, 2, 4, 2, 2, 2, 4, 2, 2, 2, 2, 2, 2, 2,
       4, 2, 2, 2, 4, 4, 2, 2, 4, 4, 2, 4, 2, 2, 4, 4, 2, 4, 2, 4, 4, 2,
       4, 2, 2, 2, 4, 2, 4, 2, 2, 4, 4, 2, 4, 2, 2, 2, 4, 2, 2, 4, 4, 2,
       2, 2, 2, 2, 2, 4, 4, 2, 4, 4, 2, 4, 2, 2, 2, 4, 2, 4, 2, 4, 4, 2,
       4, 2, 4, 4, 2, 2, 4, 4])

In [67]:
Y_test2['preds']= clf2.predict(X_test2)
Y_test2

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

     clase  preds
672      2      2
277      2      2
669      4      4
334      4      4
286      4      4
..     ...    ...
421      4      4
474      2      2
534      2      2
160      4      4
449      4      4

[140 rows x 2 columns]