In [1]:
import pandas as pd
import numpy as np

In [6]:
data = pd.read_csv('../../Downloads/clientes.csv', encoding='latin-1')
data

,Nombre y Apellido,E-mail,Teléfono,Dirección,Número,Piso,Ciudad,Localidad,Provincia / Estado,Código postal,País,Total consumido (ARS),Cantidad de compras,Última compra,Fecha,Registrado,Suscripción al newsletter
0,abigail Traverso,abigailtraverso@hotmail.com,01161131993,Republica De Eslovenia,1816.0,4a,Caba,cañitas,Capital Federal,1426.0,Argentina,2673.07,1,27/12/2018,27/12/2018,NO,NO
1,Abril Videla,abrilvidela@hotmail.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,950.00,1,20/12/2018,20/12/2018,NO,NO
2,Adriana Mendilaharzu,Adrianamendilaharzu@yahoo.com.ar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,0,NaN,14/12/2018,NO,14-12-2018
3,Agostina Lagomarzino,agoslagomarzino@gmail.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,400.00,1,11/09/2018,11/09/2018,NO,NO
4,Agustin Gimenez,agusgimenezr@gmail.com,NaN,Corona golf club,2542.0,NaN,Buenos Aires,Pilar,Capital Federal,82.0,Argentina,1300.00,1,05/12/2017,05/12/2017,SI,NO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
243,Valentina Sobrini,valensobrini@hotmail.com.ar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,760.00,1,23/11/2018,23/11/2018,NO,NO
244,Valentino Mateo,valentinomateo@yahoo.com.ar,01164801061,NaN,NaN,NaN,Pilar,NaN,Gran Buenos Aires,1629.0,Argentina,1800.00,1,30/11/2019,30/11/2019,SI,NO
245,Valeria Campos,valeriacampos2006@yahoo.com.ar,NaN,Barrio santa barbara,946.0,NaN,Buenos aires,NaN,Buenos Aires,1716.0,Argentina,750.00,1,03/12/2017,03/12/2017,NO,NO
246,Veronica Burs,veroburs@gmail.com,01131750006,Uruguay,3241.0,NaN,Buenos aires,Las victorias,Buenos Aires,1644.0,Argentina,2678.99,1,17/01/2019,17/01/2019,NO,NO
247,Victoria VINENT,vicky_vinent@hotmail.com,NaN,"Chubut 401, Mayling C.c Lote 255",401.0,NaN,Buenos Aires,MAYLING C.C,Capital Federal,1629.0,Argentina,2577.49,1,12/12/2018,12/12/2018,NO,NO

AttributeError: 'DataFrame' object has no attribute 'description'